@model Ingeniux.Runtime.CMSPageRequest
@using Ingeniux.Runtime
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="container" role="main">
    <div class="row content">

        <div class="col-sm-8">
            <section id="blog-posts">
                <article class="blog-post">
                    <header>
                        <h2 class="title">Adoption Event Location</h2>
                        <div class="comment-count">
                            <a href="#comments">
                                <span>4 Comments</span>
                                <i class="glyphicons conversation"></i>
                            </a>
                        </div>
                    </header>

                    <img class="leadimage img-responsive" src="img/blog/lblog-map.png" alt="Blog Picture">

                    <p>
                        Adalah menjadi satu fakta bahawa pembaca akan ter ganggu oleh text yang boleh difahami apabila meli hi at susunan mukasurat. Adalah menjadi satu fakta bahawa pembaca akan ter ganggu oleh text yang boleh difahami apabila meli.
                    </p>
                    <p>
                        Adalah menjadi satu fakta bahawa pembaca akan terganggu oleh text yang boleh difahami apabila melihat susunan mukasurat. Kegunaan Lorem Ipsum adalah kerana ia mempunyai susunan ayat yang kelihatan normal, yang lebih menarik berbeza dengan "Contoh disini, contoh disini". Ia menyerupai text yang boleh dibaca dalam bahasa Inggeris. Banyak pakej pencetakan desktop dan editor web sekarang menggunakan Lorem Ipsum sebagai model text, dan satu search "Lorem Ipsum" dapat memperlihatkan sejumlah website yang masih dalam persiapan. Pelbagai versi telah timbul dalam tahun tahun yang lepas, kadangkala secara sepontan, dan. Adalah menjadi satu fakta bahawa pembaca akan ter ganggu oleh text yang boleh difahami apabila meli hi at susunan mukasurat. Adalah menjadi satu fakta bahawa pembaca akan ter ganggu oleh text yang boleh difahami apabila meli.
                    </p>
                    <p>
                        Adalah menjadi satu fakta bahawa pembaca akan terganggu oleh text yang boleh difahami apabila melihat susunan mukasurat. Kegunaan Lorem Ipsum adalah kerana ia mempunyai susunan ayat yang kelihatan normal, yang lebih menarik berbeza dengan "Contoh disini, contoh disini". Ia menyerupai text yang boleh dibaca dalam bahasa Inggeris. Banyak pakej pencetakan desktop dan editor web sekarang menggunakan L dalam persiapan. Pelbagai versi telah timbul dalam tahun tahun yang lepas, kadangkala secara sepontan, dan.
                    </p>

                    <div class="meta">
                        Posted By Admin On April 20,2013 In <span class="tags"> <a href="#" class="tag">Business</a>, <a href="#" class="tag">Design</a>, <a href="#" class="tag">Marketing</a></span>
                    </div>
                </article>
            </section>

            <hr>

            <aside id="comments">
                <section id="existing-comments">
                    <h3>Comments</h3>

                    <div class="comment">
                        <img src="img/avatar-ar.jpeg" alt="Avatar" class="avatar">
                        <div class="content">
                            <span class="author">Alexander</span>
                            <span class="meta">on April 26, 2013 at 9:54 PM • <a href="#reply" class="reply">Reply</a></span>
                            <span class="text">
                                Pelbagai versi telah timbul dalam tahun tahun yang lepas, kadangkala secara sepontan, dan. Telah yang
                                lebih menarik banyak memperlihatkan web sekarang.
                            </span>
                        </div>
                    </div>

                    <div class="reply-icon">
                        <i class="glyphicons unshare"></i>
                    </div>
                    <div class="comment reply">
                        <img src="img/avatar-mb.jpg" alt="Avatar" class="avatar">
                        <div class="content">
                            <span class="author">Michael</span>
                            <span class="meta">on April 26, 2013 at 9:54 PM • <a href="#reply" class="reply">Reply</a></span>
                            <span class="text">
                                Pelbagai versi telah timbul dalam tahun tahun yang lepas, kadangkala secara sepontan, dan. Telah yang
                                lebih menarik banyak memperlihatkan web sekarang.
                            </span>
                        </div>
                    </div>

                    <div class="comment">
                        <img src="img/avatar-ar.jpeg" alt="Avatar" class="avatar">
                        <div class="content">
                            <span class="author">Alexander</span>
                            <span class="meta">on April 26, 2013 at 9:54 PM • <a href="#reply" class="reply">Reply</a></span>
                            <span class="text">
                                Pelbagai versi telah timbul dalam tahun tahun yang lepas, kadangkala secara sepontan, dan. Telah yang
                                lebih menarik banyak memperlihatkan web sekarang.
                            </span>
                        </div>
                    </div>

                    <div class="comment">
                        <img src="img/avatar-ar.jpeg" alt="Avatar" class="avatar">
                        <div class="content">
                            <span class="author">Alexander</span>
                            <span class="meta">on April 26, 2013 at 9:54 PM • <a href="#reply" class="reply">Reply</a></span>
                            <span class="text">
                                Pelbagai versi telah timbul dalam tahun tahun yang lepas, kadangkala secara sepontan, dan. Telah yang
                                lebih menarik banyak memperlihatkan web sekarang.
                            </span>
                        </div>
                    </div>

                    <div class="comment">
                        <img src="img/avatar-mb.jpg" alt="Avatar" class="avatar">
                        <div class="content">
                            <span class="author">Michael says:</span>
                            <span class="meta">April 26, 2013 at 9:54 PM • <a href="#reply" class="reply">Reply</a></span>
                            <span class="text">
                                Pelbagai versi telah timbul dalam tahun tahun yang lepas, kadangkala secara sepontan, dan. Telah yang
                                lebih menarik banyak memperlihatkan web sekarang.
                            </span>
                        </div>
                    </div>
                </section>

                <hr>

                <section class="reply">
                    <h3>Leave a Comment</h3>

                    <form action="#" id="reply" method="get" accept-charset="utf-8" class="clearfix">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="name">Name</label>
                                <input class="form-control input-lg" id="name" type="text" name="name" value="" placeholder="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="email">Email Address</label>
                                <input class="form-control input-lg" id="email" type="email" name="email" value="" placeholder="">
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="website">Website</label>
                                <input class="form-control input-lg" id="website" type="url" name="website" value="" placeholder="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="" for="message">Comment</label>
                            <textarea class="form-control" id="message" name="Comment" rows="10"></textarea>
                        </div>

                        <button type="submit" class="btn btn-grove-one btn-xlg btn-bold">Add Comment</button>

                    </form>
                </section>
            </aside>
        </div>

        <aside class="col-sm-4 blog-sidecolumn">

            <div class="widget">
                <h3>Lorem ipsum</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div>

            <div class="widget">
                <h3>Recent Posts</h3>
                <ul class="grove-list">
                    <li><a href="#">Why lorem ipsum beats bacon ipsum</a></li>
                    <li><a href="#">Why lorem ipsum beats bacon ipsum</a></li>
                    <li><a href="#">Why lorem ipsum beats bacon ipsum</a></li>
                    <li><a href="#">Why lorem ipsum beats bacon ipsum</a></li>
                    <li><a href="#">Why lorem ipsum beats bacon ipsum</a></li>
                    <li><a href="#">Why lorem ipsum beats bacon ipsum</a></li>
                </ul>
            </div>

            <div class="widget">
                <h3>Categories</h3>
                <ul class="grove-list">
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Analytics</a></li>
                    <li><a href="#">Bootstrap</a></li>
                    <li><a href="#">Python</a></li>
                    <li><a href="#">Mobile</a></li>
                </ul>
            </div>

            <div class="widget">
                <h3>Archives</h3>
                <ul class="grove-list">
                    <li><a href="#">January 2013</a></li>
                    <li><a href="#">December 2012</a></li>
                    <li><a href="#">November 2012</a></li>
                    <li><a href="#">October 2012</a></li>
                </ul>
            </div>

            <div class="widget">
                <h3>Tags</h3>
                <ul class="tags-list">
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Training</a></li>
                    <li><a href="#">Coding</a></li>
                    <li><a href="#">Analytics</a></li>
                    <li><a href="#">Python</a></li>
                    <li><a href="#">Bootstrap</a></li>
                </ul>
            </div>
        </aside>


    </div>
</div>
