<div>
    <div class="cmsField" style='float:none;' >
        <table class="basicElementTable" border="0" cellspacing="0" cellpadding="0">
            <tr class="basicElementTopRow">
                <td class="basicElementTopLeft">
                    <img src="images/icons/elementblocks/1.gif" width="7" />
                </td>
                <td class="basicElementTop" colspan="2">
                    <span class="basicElementIcon"><img dojoAttachPoint="imgNode" src="images/icons/default/24x24-Page_template.png" style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/icons/default/image24.png', scale='image')" alt="Text" /></span><span class="basicElementLabel">${this.label}</span>
                </td>
                <td class="basicElementTopRight">
                    <img src="images/icons/elementblocks/1.gif" width="7" />
                </td>
            </tr>
            <tr class="basicElementMiddleRow">
                <td class="basicElementMiddleLeft">
                    <img src="images/icons/elementblocks/1.gif" />
                </td>
                <td class="basicElementMiddle">
                    <div style="position:relative;" dojoAttachPoint="wrapperNode">
                        <img src="../xml/custom/editFormExtensions/templates/littlefriend.jpg" dojoAttachPoint="friend" />
						<div style="font-weight:bold;font-size:16px;">Save Hello To My Little Friend!</div>
						<div style="margin-top: 20px;">
							Component Title:
							<input dojoAttachPoint="titleInput" value="" dojoAttachEvent="onkeyup:onDataChanged" style="width:350px;"/>
						</div>
                    </div>
                </td>
                <td class="basicElementMiddleHelp">
                </td>
                <td class="basicElementMiddleRight">
                    <img src="images/icons/elementblocks/1.gif" />
                </td>
            </tr>
            <tr class="basicElementBottomRow">
                <td class="basicElementBottomLeft">
                    <img src="images/icons/elementblocks/1.gif" />
                </td>
                <td class="basicElementBottom" colspan="2">
                    <img src="images/icons/elementblocks/1.gif" />
                </td>
                <td class="basicElementBottomRight">
                    <img src="images/icons/elementblocks/1.gif" />
                </td>
            </tr>
        </table>
    </div>
</div>