@model Ingeniux.Runtime.ICMSElement
@using Ingeniux.Runtime


@{
    if (Model != null)
    {
        <div class="widget">
            <h3>@Model.GetElementValue("SummaryHeader")</h3>
            <p>
                @Model.GetElementValue("SummaryBody")
            </p>
        </div>
    }
}