@model Ingeniux.Runtime.ICMSElement
@using Ingeniux.Runtime


@{
    if (Model != null)
    {
        <meta charset="utf-8">
        <title>Portfolio/ @Model.Value</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
    }
}