@model Ingeniux.Runtime.ICMSElement
@using Ingeniux.Runtime


@{
    if (Model != null)
    {
        <div class="widewrapper strong-highlight">
            <div class="container calltoaction">
                <span>@Model.GetElementValue("CalltoActionMessage")</span>
                <a href="@Model.Element("Page").GetAttributeValue("URL")" class="btn btn-grove-one btn-xlg btn-bold">
                    @Model.GetElementValue("ButtonText")
                </a>
            </div>
        </div>

    }
}