@model Ingeniux.Runtime.ICMSElement
@using Ingeniux.Runtime

<div class="btn-group calltoaction">
    <a class="btn btn-lg btn-grove-three btn-bold" href="#">
        <i></i>
        Launch Project
    </a>
</div>