@model Ingeniux.Runtime.ICMSElement
@using Ingeniux.Runtime


<!-- still need to organize all Pages under recent work and only present the most recent 4-->
@{
    if (Model != null)
    {
    <div class="widewrapper weak-highlight">
        <div class="container content">
            <div class="showroom-controls">
                <div class="links">Recent Work <i class="verticalSeparator"></i> <a href="portfolio.html">All Work</a></div>
            </div>
            <div class="row">
                @{ var WorkPosts = from b in Model.Elements()
                                    select b;
                    var SortedWorkPosts = WorkPosts.OrderByDescending(o => o.GetAttributeValue("PublicationDate"));
                }
                @{ foreach (ICMSElement Page in SortedWorkPosts.Take(4))
                    {
                <div class="showroom-item col-sm-3">
                    <div class="image">
                        <img src="images/@Page.GetAttributeValue("Thumbnail")" class="img-responsive" alt="Portfolio Image">
                        <a class="overlay" href="@Page.GetAttributeValue("URL")">
                            <i class="glyphicons search"></i>
                            <div class="name">@Page.GetAttributeValue("Title")</div>
                        </a>
                    </div>
                </div>
                    }
                  }
            </div>
                    
            <div class="clearfix"></div>
        </div>
    </div>

                        }
                    }